mainmenu "Mender App"

menu "Mender App WIFI Configuration"

if WIFI

config MENDER_APP_WIFI_SSID
	string "WIFI SSID - Network name"
	default "my_network"

config MENDER_APP_WIFI_PSK
	string "WIFI PSK - Network password key"
	default "secret_passwd"

endif # WIFI

endmenu


menu "Inventory configuration"

config MENDER_APP_NOOP_UPDATE_MODULE
	bool "No-op Update Module"
	default n
	help
		An Update Module that does nothing. Useful for inspiration on how to get started writing
		your update module, as an alternative to the built-in zephyr-image Update module configured
		with MENDER_ZEPHYR_IMAGE_UPDATE_MODULE

endmenu

source "Kconfig.zephyr"
